@model WebApp.ViewModels.SearchViewModel
@{
}

<div class="blocck-reg background-white">
    <div>
            <form method="get" asp-controller="AccountManager" asp-action="MyPage">
                <input class="enter_submit" type="submit" value="Назад" />
            </form>
    </div>

	<div class="righ-align">
		<form method="post" asp-controller="AccountManager" asp-action="UserList">
			<i class="fa fa-search"></i>
            <input type="text" placeholder="Поиск" name="search">
		</form>
	</div>
    @if (Model != null)
    @if (Model.UserList != null)
        @if (Model.UserList.Count != 0)
        {
            @foreach (var user in Model.UserList)
            {
                <div>
                    <label>@user.GetFullName()</label>
                        @if (!@user.IsFriendWithCurrent && Model.UserId != user.Id)
                        {
                            <form asp-controller="AccountManager" asp-action="AddFriend" asp-route-id="@user.Id" method="post">
                                <button type="submit" class="btn btn-sm btn-primary">
                                    Добавить в друзья
                                </button>
                            </form>
                        }
                </div>
            }

        }
        else
        {
            <label> Поиск не дал результатов.</label>
        }
</div>
